<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>{{ titulo }}</h1>
  </header>
  <main>
    <app-formulario (actualiza)="actualiza($event)"></app-formulario>
    <section class="Derecha">
      <ul *ngIf="show">
        <li *ngFor="let pas of pastel">
          <div>
            <app-patel [pas]="pas" (muestraDetalle)="muestraDetalle($event)"></app-patel>
          </div>
          <div>
                  <!-- <div *ngFor="let com of pas.calificaciones">
                  {{com.nota}} :: {{com.comentario}}
                  </div> -->
                  <!-- <app-formulario [pas]="pas" (actualiza)="actualiza($event)"></app-formulario> -->
            <app-clasificar  [_id]="pas._id" (actualiza)="actualiza($event)"></app-clasificar>
          </div>
        </li>
      </ul>
    </section>
    <section style="clear:both"></section>
  </main>
  <footer *ngIf="show1">
    <h1>{{pastel1.pastelero}}, Con Nota: {{Prom}}</h1>
    <img [src]="pastel1.imagen" [alt]="pastel1.pastelero">
    <ul>
      <li *ngFor="let pas1 of pastel1.calificaciones">
        {{ pas1.nota }} {{ pas1.comentario}}
      </li>
    </ul>
  </footer>
</body>
</html>